.items {
    cursor: pointer !important;
}
/* .Mui-selected{
    font-size: 15px !important;
    background: darkcyan !important;
} */
.MuiTableCell-body{
    font-size: 15px !important;
    background: #dddddd !important;
}
.MuiTypography-root {
    font-size: 15px !important;
   
}
.MuiTableRow-root{
    /* border-top: 1px solid white !important; */
}