.Login {
  width: 320px;
  padding: 20px;
}
.loginform {
  /* width: 300px; */
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #7c3256;
}
.iconUser {
  width: 30%;
}
.input-items {
  width: 80% !important;
  border-radius: 10px;
  opacity: 0.5;
  margin-bottom: 10px !important;
  border: none;
  text-transform: capitalize !important;
}
.input-login {
  padding: 20px;
  /* -webkit-box-shadow: -5px -2px 49px 9px rgba(158,150,158,0.59);
  -moz-box-shadow: -5px -2px 49px 9px rgba(158,150,158,0.59);
  box-shadow: -5px -2px 49px 9px rgba(158,150,158,0.59); */
}
.btnLoginform {
  border-radius: 10px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  color: white;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
  
}
.btnLoginform:hover{
  color: black;
  -webkit-box-shadow: inset 0px 13px 45px -17px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: inset 0px 13px 45px -17px rgba(0, 0, 0, 0.68);
  box-shadow: inset 0px 13px 45px -17px rgba(0, 0, 0, 0.68);
}
.pwd-items {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
.show {
  cursor: pointer;
  position: absolute;
  background: #7c3256;

  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 10px;
}
